{% layout "layout.liquid" %}

{% block content %}

<a href="list/new"><button>Create New Item</button></a>

{% for ea in list %}

<div class=item>
    <h2 class="each"><a href="list/{{ea._id}}">{{ea.item}}</a></h2>
    <form action="/list/{{ ea._id }}?_method=DELETE" method="post">
        <input type="submit" value="DELETE"></form>

</div>


{% endfor %}


{% endblock %}


<form action="/fruits/{{ fruit._id }}?_method=DELETE" method="post">
<input type="submit" value="DELETE">
</form>