{% layout "layout.liquid" %}

{% block content %}

<a href="list/new"><button>Create New Item</button></a>

{% for ea in list %}

<div class=item>
    <h2 class="each"><a href="list/{{ea._id}}">{{ea.item}}</a></h2>

</div>


{% endfor %}


{% endblock %}
