<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles.css">
    <script src="../app.js" defer></script>


{% layout "layout.liquid" %}


{% block content %}

<button data-modal-target="#modal">Before you add an item</button>
<div class="modal" id="modal">
    <div class="m_header">
         <div class="title1">Warning!!!</div>
        <button data-close-button class="close-it">&times;</button>
    </div>
<div class="m_body">
    By adding an item to this grocery list, you will be able to eat donuts without gaining weight. Become the most interesting person alive. Write code without syntax errors of any kind..ever! Legally change your name to Alex Merced.  User beware. 
</div>
 </div>
<div id="overlay"></div>
<div>

    <form action="/list" method="post">
     <fieldset>
       <legend>Create a New Item</legend>
           <label>
               Item: <input type="text" name="item" placeholder="whatcha need?"/>
           </label>
           <label>
               Quantity: <input type="number" name="qty" placeholder="how many?"/>
           </label>
       </fieldset>
       <input type="submit" value="add new item"/>
    </form>
   
   </div>



{% endblock %}