{% layout "layout.liquid" %}

{% block content %}




<div class=item>
    
    <h2 class="each">{{list.item}}</h2>
    <h3>Quantity: {{list.qty}}</h3>

</div>
<a href="/list/{{ list._id }}/edit"><button>Edit Item</button></a>
<a href="/list"><button>Back 2 List</button></a>


{% endblock %}
