* {
    background-color: lemonchiffon;
    font-family: 'Acme', sans-serif;
    font-size: 1.25rem;
    color: darkblue;
}


h1 {
    text-align: center;
    color: darkblue;
    max-width: 600px;
    background-color: rgba(1, 0, 139, .25);
    border-radius: 15px;
    font-size: 2.0rem;
    
}

.item {
    display: flex;
    font-size: 1.25em;
    justify-content: space-between;
    max-width: 600px;
    align-items: center;
    text-decoration: none;
    margin: 0px 10px 0 10px;
    border: 1.5px floralwhite;
}

a {
    text-decoration: none;
    font-size: 1.45rem;
    
}
div.new_b {
    display: flex;
    align-items: center;
    max-width: 600px;
    cursor: pointer;
}
button {
    
    cursor: pointer;
}

input {
    cursor: pointer;
}