
/* ////////////////////////////////////////// */
/* modal styling section */
/* ////////////////////////////////////////// */


*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid darkred;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    background-color: darkred;
    width: 600px;
    max-width: 70%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.m_header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid ghostwhite;
}

.m_header .title1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: ghostwhite;
    text-align: center;
}

.m_header .close-it {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: ghostwhite

}

.m_body {
    padding: 10px 15px;
    color: ghostwhite;
    font-size: 1.25rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    
}
/* ////////////////////////////////////////// */
/* END modal styling section  END*/
/* ////////////////////////////////////////// */
